@using Common.Core;
@using Common.Entities.Order;
@model OnlineOrder
@{
    ViewBag.Title = "停车缴费";
    Layout = "~/Views/Shared/_WeiXinLayout.cshtml";
}
<style type="text/css">
    .weui_grid_cus
    {
        width: 25%;
        height: 60px;
        background-color: #fff;
    }
    .weui_grid_cus p
    {
        line-height: 14px;
    }
</style>
<div class="row">
        <!--header-->
        <div class="header">
            <div class="pull-left header-left">
                <a href="@Url.Action("LicensePlatePayment", "ParkingPayment")">
                    <img src="/Content/mobile/images/return.png" width="15" height="26" alt="" /></a>
            </div>
            <div class="pull-right header-right">
                停车缴费</div>
        </div>
        <div style="margin-top: 60px">
        </div>
        <div class="weui_cells_title fontbold">
            基本信息</div>
        <div class="weui_cells">
            @if(!string.IsNullOrWhiteSpace(Model.PlateNo))
            { 
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>
                            车牌号</p>
                    </div>
                    <div class="weui_cell_ft">@Model.PlateNo &nbsp;<a style="color:#0EA9FB" href="@Url.Action("Index", "H5ParkingPayment", new { updatePlateNo = true })">修改</a></div>
                </div>
            }
            @if (Model.EntranceTime != DateTime.MinValue)
            { 
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>
                            进场时间</p>
                    </div>
                    <div class="weui_cell_ft">
                        @Model.EntranceTime.ToPlatDateTimeString()</div>
                </div>
            }
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>
                        停车时长</p>
                </div>
                <div class="weui_cell_ft">
                    @Model.EntranceTime.GetParkingDuration(DateTime.Now)
                </div>
            </div>
        </div>
        @{
            using (Html.BeginForm("SubmitParkingPaymentRequest", "H5ParkingPayment", FormMethod.Post))
            {
                <input type="hidden" id="hidd_licensePlate" name="PlateNo" value="@Model.PlateNo"/>
                <input type="hidden" id="hidd_parkingId" name="PKID" value="@Model.PKID"/>
                <input type="hidden" id="hidd_parkCardNo" name="ParkCardNo" value="@Model.ParkCardNo"/>
                <input type="hidden" id="hidd_parkingName" name="PKName" value="@Model.PKName"/>
                <input type="hidden" id="hidd_inOutID" name="InOutID" value="@Model.InOutID"/>
                <input type="hidden" id="hidd_EntranceTime" name="EntranceTime" value="@Model.EntranceTime.ToString("yyyy-MM-dd HH:mm:ss")"/>
                 <input type="hidden" id="hidd_ExitTime" name="ExitTime" value="@Model.ExitTime.ToString("yyyy-MM-dd HH:mm:ss")"/>
                <input type="hidden" id="hidd_PayTime" name="OrderTime" value="@Model.OrderTime.ToString("yyyy-MM-dd HH:mm:ss")"/>
                <input type="hidden" id="hidd_paymoney" name="Amount" value="@Model.Amount"/>
                <input type="hidden" id="hidd_PayDetailID" name="PayDetailID" value="@Model.PayDetailID"/>
                <input type="hidden" id="hidd_PayChannel" name="PaymentChannel" />
                <input type="hidden" id="hidd_PayeeChannel" name="PayeeChannel" />
                <input type="hidden" id="hidd_OrderSource" name="OrderSource" value="@Model.OrderSource" />
                <input type="hidden" id="hidd_ExternalPKID" name="ExternalPKID" value="@Model.ExternalPKID" />
                @Html.Action("Index", "H5PaymentType", new { preferentialMoney = Model.DiscountAmount, payMoney = Model.Amount, showPreferentialMoney = true, alreadyPayment = 0 })
            }
        }
    </div>
<script type="text/javascript">
    $(function () {
        $("#btnSubmitPaymentRequest").click(function () {
            var total_pay_money = $("#span_total_pay_money").text();
            if (total_pay_money == "" || parseFloat(total_pay_money) <= 0) {
                WxAlert("", "支付金额不正确");
                return false;
            }
            var paytype = $("[name=radiopaytype]:checked").val();
            $("#hidd_PayChannel").val(paytype);
            $("#hidd_PayeeChannel").val(paytype);
            $("#loadingSubmitPayToast").show();
        });
    })

</script>
