@model List<string>
@{
    ViewBag.Title = "临停缴费";
    Layout = "~/Views/Shared/_WeiXinLayout.cshtml";
  
}
<div class="row">
    <div class="header">
        <div class="pull-left header-left">
         <a href="@Url.Action("Index", "H5Home")"> <img src="/Content/mobile/images/return.png" width="15" height="26" alt="" /></a>
         </div>
        <div class="pull-right header-right">
            临停缴费</div>
    </div>
    <div class="top70">
    </div>
    <div class="weui_cells_title">
        请输入待缴费的车牌：<span style="color:Red">(字母不区分大小写)</span></div>
    @Html.Action("Index", "LicensePlate", new { parkingId = ViewBag.ParkingId, plateNumber =ViewBag.PlateNumber})
</div>
@if (Model != null && Model.Count > 1)
{ 
    <div class="weui_cells_title">待缴费车辆</div>
    foreach (var item in Model)
    { 
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="@Url.Action("ComputeParkingFee", "H5ParkingPayment", new { licensePlate = @item, parkingId = @ViewBag.ParkingId })">
            <div class="weui_cell_bd weui_cell_primary">
                <p>@item</p>
            </div>
            <div class="weui_cell_ft">
                点击缴费</div>
        </a>
    </div>
    }
}
<input type="hidden" id="hiddParkingId" value="@ViewBag.ParkingId"/>
<div style="position: fixed; bottom: 0; left: 0px; right: 0px;">
    <a href="javascript:void(0);" class="weui_btn weui_btn_primary" onclick="return btnComputeParkingFee()">确认缴费</a>
</div>
@section Scripts{
<script type="text/javascript">
    function btnComputeParkingFee() {
        $("#spanPlateNumberError").text("");
        var city = $(".spanProvinceDescription").text();
        var area = $(".spanCityDescription").text();
        if (city == "" || area == "") {
            $(".select_plate_cell_city").show();
            $("#spanPlateNumberError").text("请选择省份");
            return false;
        }
        var licensePlate = $("#txtUserPlateNumber").val();
        if ($.trim(licensePlate) == "") {
            $("#spanPlateNumberError").text("请输入车牌号");
            return false;
        }
        if (licensePlate.replace(/\s+/g, "").length != 5 && licensePlate.replace(/\s+/g, "").length != 6) {
            $("#spanPlateNumberError").text("车牌号格式不正确");
            return false;
        }
        var value = city + area + licensePlate.replace(/\s+/g, "");
        var parkingId = $("#hiddParkingId").val();
        location.href = "/H5ParkingPayment/ComputeParkingFee?licensePlate=" + value + "&parkingId=" + parkingId;

    }
</script>
}
