@using Common.Entities.Order;
@model OnlineOrder
@{
    ViewBag.Title = "支付成功";
    Layout = "~/Views/Shared/_WeiXinLayout.cshtml";
}
<div class="row">
    <div class="header">
        <div class="pull-left header-left">
            <a href="@Url.Action("RechargeRecord", "SellerRecharge")">
                <img src="/Content/mobile/images/return.png" width="15" height="26" alt="" /></a>
        </div>
        <div class="pull-right header-right">
            支付成功</div>
    </div>
    <div style="margin-top: 60px">
    </div>
    <div class="row hn-row" style="text-align: center">
        <div class="weui_msg top20" style="padding-top: 0px">
            <div class="weui_icon_area">
               <i class="weui_icon_msg weui_icon_success"></i>
            </div>
            <div class="weui_text_area">
               <h2 class="weui_msg_title">支付成功</h2>
            </div>
        </div>
    </div>
    @if (Model!=null)
    { 
        <div class="weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>订单号</p>
                </div>
                <div class="weui_cell_ft">@Model.OrderID</div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>商家名称</p>
                </div>
                <div class="weui_cell_ft">@Model.PKName</div>
            </div>
              <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>支付金额</p>
                </div>
                <div class="weui_cell_ft">¥ @Model.Amount</div>
            </div>
        </div>
    }
    <a href="@Url.Action("RechargeRecord", "SellerRecharge")" class="weui_btn weui_btn_primary">查看充值记录</a>
</div>
