@using ClassLibrary1
@model MonthCardResult
@{
    ViewBag.Title = "包月缴费";
    Layout = "~/Views/Shared/_WeiXinLayout.cshtml";
}
<style type="text/css">
    body {
        background-color: #f4f4f4;
        margin: 0px;
        padding: 0px;
    }

    .all {
        width: 100%;
        margin: 0 auto;
        overflow: auto;
    }

    .parkingcenter {
        width: 95%;
        margin: 0 auto;
        overflow: auto;
    }

    .di {
        margin-top: 3.73rem;
        height: 10.7rem;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    .listhead {
        overflow: hidden;
        height: 4.78rem;
        line-height: 4.78rem;
    }

        .listhead .month {
            background-color: #CACACA !important;
            border-radius: 0.5rem;
            text-align: center;
            height: 4.78rem;
            line-height: 4.78rem;
            cursor: pointer;
            font-size: 1.58rem;
            width: 31.339%;
        }

    .shuru {
        margin-top: 3.05rem;
        height: 4.65rem;
        line-height: 4.65rem;
        background: #ffffff;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

        .shuru .neirong {
            text-align: center;
            border: 0px;
            width: 100%;
            height: 100%;
            outline: none;
            font: PingFang SC;
            font-size: 1.69rem;
            color: #B4B4B4;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }

    .xuanze {
        float: left;
        height: 4.98rem;
        line-height: 4.98rem;
        font: PingFang SC;
        font-size: 1.69rem;
        color: #B4B4B4;
    }

    .youhui {
        margin-top: 4.98rem;
        height: 4.65rem;
        line-height: 4.65rem;
        background: #ffffff;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

        .youhui .youhui_left {
            float: left;
            font: PingFang SC;
            font-size: 1.69rem;
            color: #888888;
            margin-left: 1rem;
        }

        .youhui .youhui_right {
            float: right;
            font: PingFang SC;
            font-size: 1.69rem;
            color: #888888;
            margin-right: 1rem;
        }

        .youhui .youhui_right1 {
            float: right;
            font: PingFang SC;
            font-size: 1.69rem;
            color: #888888;
            margin-right: 1rem;
            height: 4.65rem;
            line-height: 4.65rem;
        }

    .dibuyc {
        width: 100%;
        height: 3.34rem;
        line-height: 3.34rem;
        background: #f4f4f4;
        margin-bottom: 3.34rem;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    .dibu {
        width: 100%;
        height: 5.34rem;
        line-height: 5.34rem;
        background: #ffffff;
        -webkit-border-radius: 10px;
        position: fixed;
        bottom: 0;
        border-radius: 10px;
    }

        .dibu .dibu_left {
            float: left;
            font: PingFang SC;
            font-size: 1.69rem;
            width: 35%;
            height: 5.34rem;
            line-height: 5.34rem;
        }

        .dibu .dibu_center {
            float: left;
            font: PingFang SC;
            font-size: 1.35rem;
            width: 30%;
            height: 5.34rem;
            line-height: 5.34rem;
        }

        .dibu .dibu_right {
            float: right;
            width: 35%;
            height: 5.34rem;
            line-height: 5.34rem;
            background: #c8161d;
            font: PingFang SC;
            font-size: 1.69rem;
            color: #FFFFFF;
            text-align: center;
        }

    .listhead .select {
        background-color: #FFB949 !important;
        border-radius: 0.5rem;
        text-align: center;
        height: 4.78rem;
        line-height: 4.78rem;
        cursor: pointer;
        font-size: 1.58rem;
        width: 31.339%;
    }
</style>
<script type="text/javascript">
    window.onresize = function () {
        calcRam()
    }
    function calcRam() {
        var html = document.querySelector("html");
        var w = document.documentElement.clientWidth;
        html.style.fontSize = w / 37.5 + "px";
    }
    calcRam()
    $(function () {
        $("#change1 div div").bind("click", function () {
            $(this).siblings('div').removeClass('select');  // 删除当前容器其他兄弟元素的样式
            RemoveAll();
            $(this).addClass('select');
        });


        $("#divselect").click(function (event) {
            var monthnumber = document.getElementsByName('mid')[0].value;
            if (monthnumber == "请输入所需包月数") {
                monthnumber = 0;
            }
            var CardID = '@Model.CardID';
            var mon = '@Model.Amount';
            $.ajax({
                type: 'post',
                url: '/MonthCard/GetCouponByMonth',
                data: "CardID=" + CardID + "&month=" + monthnumber,
                async: false,
                success: function (data) {
                    var result = eval(data);

                    $("#divselect").empty();
                    $("#divselect").append("<select style='height:2rem;font:PingFang SC;font-size:1.69rem;color:#888888;border: 0; background: transparent;appearance:none;-moz-appearance:none;-webkit-appearance:none; ' id='money'></select>");

                    if (result == null || result == "") {
                        document.getElementById("youhui").innerHTML = 0 + ".00";
                        $("#divselect select").html("<option style='list-style:none;' value='-1' select='select' style='height:2rem;font:PingFang SC;font-size:1.69rem;color:#888888;'>" + "无可用优惠券" + "</option>");
                    }

                    for (var i = 0; i < result.length; i++) {
                        $("#divselect select").html("<option style='list-style:none;' value='-1' select='select' style='height:2rem;font:PingFang SC;font-size:1.69rem;color:#888888;'>" + "不使用优惠券" + "</option>");
                        $("#divselect select").append("<option style='list-style:none;' value=" + result[i].CouponID + " style='height:2rem;font:PingFang SC;font-size:1.69rem;color:#888888;'>" + "-" + result[i].CapPrice + "元"+"</option>");
                        $("#divselect select").bind("click", "option", function (event) {
                            var a = $("#divselect select").val();
                            var b = $("#money option:selected").text();
                            if (a == -1) {
                                document.getElementById("bb").innerHTML = 0 + ".00";
                                document.getElementById("youhui").innerHTML = 0+".00";
                                document.getElementById("qian").innerHTML = mon * monthnumber + ".00";
                            } else {
                                document.getElementById("bb").innerHTML = this.value;
                                var c = document.getElementById("bb").innerHTML;
                                document.getElementById("youhui").innerHTML = parseInt(b)+".00";
                                document.getElementById("qian").innerHTML = mon * monthnumber + parseInt(b) + ".00";
                            }
                            //alert(c);
                            event.stopPropagation();
                        });

                    }
                },
                error: function () {

                }
            });
        });



    });


    function RemoveAll() {
        $("#change1 div div").removeClass('select');
    }
    function change(a) {
        var mon = '@Model.Amount';
        var youhui = document.getElementById("youhui").innerHTML;
        document.getElementsByName('mid')[0].value = a;
        document.getElementById("qian").innerHTML=mon*a-youhui+".00";
    }
    function setValue(obj) {
        if (obj.value.length == 1) {
            obj.value = obj.value.replace(/[^1-9]/g, '')
        }
        else {
            obj.value = obj.value.replace(/\D/g, '')
        }
        if (obj.value != null && obj.value != "") {
            var mon = '@Model.Amount';
            var youhui = document.getElementById("youhui").innerHTML;
            var a = document.getElementsByName('mid')[0].value;
            document.getElementById("qian").innerHTML = mon * a - youhui + ".00";
        }
        else {
            document.getElementById("qian").innerHTML = 0+".00";
        }
    }
    function buy(obj, CardID, PlateNo, StartTime, EndTime) {
        var money = document.getElementById("qian").innerHTML;
        var CouponID = document.getElementById("bb").innerHTML;
        var month = document.getElementsByName('mid')[0].value;
        if (CouponID == "" || CouponID == "0.00") {
            CouponID = "-1";
        }
        if (month == "请输入所需包月数") {
            return;
        }
        location.href = "/MonthCard/Pay?CardID=" + CardID + "&month=" + month + "&starttime=" + StartTime + "&endtime=" + EndTime + "&licenseplate=" + PlateNo + "&Amount=" + money + "&CouponID=" + CouponID;
        //        alert(CouponID);
        //        alert(month);
    }
</script>
<div class="all">
    <div class="parkingcenter">
        <div class="di" id="change1">
            <div class="listhead" ;>
                <div class="month" style="float:left;" onclick="change('1')">一个月</div>
                <div class="month" style="float:left;margin-left:2.917%;" onclick="change('2')">二个月</div>
                <div class="month" style="float:right;" onclick="change('3')">三个月</div>
            </div>
            <div class="listhead" style="margin-top:3.5%;">
                <div class="month" style="float:left;" onclick="change('6')">六个月</div>
                <div class="month" style="float:left;margin-left:2.917%;" onclick="change('12')">十二个月</div>
                <div class="month" style="float:right;" onclick="change('24')">二十四个月</div>
            </div>
        </div>
        <div class="shuru">
            <input type="text" name="mid" class="neirong" value="请输入所需包月数" onfocus="if (value =='请输入所需包月数'){value =''}" onblur="if (value ==''){value='请输入所需包月数'}" onkeyup="setValue(this)" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}" />
        </div>
        <div class="xuanze">请选择优惠券</div>
        <div class="youhui" id="yhbtn">
            <div class="youhui_left">优惠</div>
            <div class="youhui_right">
                优惠券
                <div id="divselect" class="youhui_right1">
                    请选择

                </div>
            </div>
        </div>

        <div class="dibuyc"> <div class="yc" id="aa"><a id="bb" style="display:none;"></a></div></div>

    </div>
</div>
<div class="dibu">
    <div class="dibu_left">合计:<a style="color:#ef9449;font-size:1.69rem;" id="qian">0.00</a>元</div>
    <div class="dibu_center">优惠:<a style="color:#ef9449;font-size:1.35rem;" id="youhui">0.00</a>元</div>
    <div class="dibu_right" onclick="buy(this,'@Model.CardID','@Model.LicensePlate','@Model.StartTime','@Model.EndTime')">立刻购买</div>
</div>

